<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <div class="transaccion">
      <p class="p-black asunto">{{egreso.asunto}}</p>
      <div class="egreso-porcentaje">
        <p class="monto-egreso p-black">{{egreso.monto | currency:'USD':'-$':'1.2-2'}}</p>
        <p class="porcentaje-white">{{egreso.monto / totalIngresos | percent:'2.0-0'}}</p>
        <button class="btn btn-delete" (click)="eliminarEgreso(egreso)">
          <span class="material-symbols-outlined monto-egreso">
            cancel
            </span>
        </button>
      </div>
    </div>




